body{
    font-family: sans-serif;

}
#WeatherApp {
    margin: auto;
    height: auto;
    width: 350px;
    text-align: centre;
}
#location-input{
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    margin-bottom: 25px;

}
#Weather-data{
    margin: 0 auto;
    width: 300px;
    padding: 25px;
    border-radius: 5px;
}